
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</style>
    <title>ScarletCoin</title>

      
</head>

<body>
<style type="text/css">
body 
{
    background-color: #0d0d0d;
}

</style>

<center>
		
        <h1><font font color="#c1b492">【ScarletCoin】 </font> </h1>
        
         <br> <br>
         
        <p><a target="_blank" href="https://github.com/alessio-ds/ScarletCoin"><em><font font color="#D2738A">「Github Page」 </a> </font> </em>  
		<br><br>

			
			<form action="/" method = "POST">
				<p><font font color="#D2738A">TXID</font><br><input type = "text" name = "Field1_name" /></p>
				<p><input type = "submit" value = "Submit" /></p>
			</form>
			
		<br><br><br><br><br>
		
		<button type="button" onclick="giorno()">Day Mode</button>
		<script>
		function giorno() {
		  document.body.style.backgroundColor = "#f2f2f2";
		}
		</script>
		
		<button type="button" onclick="notte()">Night Mode</button>
		<script>
		function notte() {
		  document.body.style.backgroundColor = "#0d0d0d";
		}
		</script>

		
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        

</body>
</center>
</html>
